
<div>
    <h1 class="text-center text-danger fa-3x">Access Denied</h1>
    <h5 class="text-center text-danger">Sorry, you don't have permission to access this page.</h5>
    <img src="~/ProfilePicture/Unauthorize.webp" style="width:800px; height:560px; margin-left: 227px; margin-top: 10px"></img>
</div>