@model MVCPrcatice.Models.Customer

<div class="modal-body">
    <div class="row">
        <div class="col-md-4">
            @*<img src="@Model.ImageUrl" class="img-fluid" />*@
              <img src="@Url.Content("~/ProfilePicture/" + Model.ImageUrl)" style="width: 100px; height: 100px; object-fit: cover; border-radius: 50%;" />
        </div>
        <div class="col-md-8">
            <p><strong>Name:</strong> @Model.Name</p>
            <p><strong>Email:</strong> @Model.Email</p>
        </div>
    </div>
</div>
